@coral: #FF5757;
@white: #FFFFFF;

body { font-family: 'Open Sans', sans-serif; }

.hvr-underline-reveal:before { background: @white; height: 2px; }
.container-fluid { padding: 0; }

#home, #recharge, #account { padding: 3% 0px; }
.item { border-bottom: 1px solid #e6e6e6; }

/* Navbar styling */

.navbar-default {
  background-color: @coral;
  border-color: @coral;
}

.navbar {
  margin-bottom: 0px;
}

nav {
  #logo {
    font-family: 'Lily Script One', cursive;
    color: @white;
  }
  #navbar a {
    color: @white;
  }
}

/* Home styling */

#home {
  background-color: @coral;
  color: @white;
  h1 {
    font-size: 3.2em;
    font-weight: 700;
  }
  h3 {
    font-weight: 200;
  }
  .stepOne {
    font-weight: 700;
  }
  .country {
    margin: 10% 0;
  }
  .selectize-input {
    border:none;
  }
  .selectize-control.single .selectize-input, .selectize-dropdown.single {
    padding: 15px;
    font-size: 1.2em;
  }
  .btn.btn-continue {
    padding: 15px;
    background: transparent;
    font-size: 1.3em;
  }
  .input-group-addon {
    background: transparent;
    color: white;
    border: none;
    font-size: 1.5em;
    font-weight: 700;
  }
}

/* Billing Styling */

.billing-header {
  margin: -20px 0 40px;
  h6 {
    font-weight: 600;
  }
}
.billing-header2 {
  margin: 10px 0 40px;
  h6 {
    font-weight: 600;
  }
}
