section#account
  .container
    .col-md-3
      .sidebar-nav
        .well
          ul.nav.nav-list
            li.item: a(ui-sref='home') Home
            li.item: a(ui-sref='recharge.selection') Top Ups
            li.item: a(href="#") How it Works
            li.item: a(href="#") Support
    .col-md-9
      tabs(data='tabData' type='tabs')
      div(style='margin-top: 5%')
        div(ui-view)
