section#footer
  .bottom-menu.bottom-menu-large
    .container
      .row
        .col-md-2.col-sm-2
          a.bottom-menu-brand(href="#fakelink")
            img(src='/assets/logo-coral.png')
        .col-md-2.col-sm-2
          h5.title EXPLORE
          ul.bottom-menu-list
            li
              a(href="#fakelink") About Us
            li
              a(href="#fakelink") Investors
            li
              a(href="#fakelink") Careers
        .col-md-2.col-sm-2
          h5.title &#160;
          ul.bottom-menu-list
            li
              a(href="#fakelink") News
            li
              a(href="#fakelink") FAQ
            li
              a(href="#fakelink") Countries &#38; Carriers
        .col-md-2.col-sm-2
          h5.title PRIVACY
          ul.bottom-menu-list
            li
              a(href="#fakelink") Security Center
            li
              a(href="#fakelink") Privacy Policy
            li
              a(href="#fakelink") User Agreement
        .col-md-2.col-sm-2.pull-right
          h5.title FOLLOW US
          ul.bottom-menu-list
            li
              a(href="#fakelink") Twitter
            li
              a(href="#fakelink") Youtube
            li
              a(href="#fakelink") Instagram
